body {
  min-height: 3000px;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.jumbotron {
  background-color: #e2edff;

}

#about {
  padding-top: 6rem;
}

#gallery {
  background-color: #e2edff;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 0 2rem;
  background: var(--main-gray);
}

@media (max-width: 28.75em) {
  .contact-section-header>h2 {
    font-size: 4rem;
  }
}

.contact-section-header>p {
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px 1px #9ee8ff;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(10px);
}